
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row align-items-center">
        <img class="img-fluid img-thumbnail" src="@GlobalConstants.ImagePathRoot\drink-menu.jpg" />
    </div>
</div>

